:root{
    --green: #108E59;
    --darkGreen: #035755;
    --red: #FB4C47;
    --darkRed: #B63A37;
    --gray: #4B4F51;
    --lightPink: #fff8f8;
}

@font-face {
    font-family: 'gelion';
    src: url('../src/fonts/Gelion-Regular.ttf');
}

@font-face { 
    font-family: 'redHatDisplay-medium';
    src: url('../src/fonts/RedHatDisplay-Medium.ttf');
}
@font-face { 
    font-family: 'redHatDisplay-regular';
    src: url('../src/fonts/RedHatDisplay-Regular.ttf');
}

* {
  font-family: 'gelion';
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--lightPink);
}

h1, h2, h3, h4, h5, h6, li, p {
    font-family: 'gelion';
}

h4{
    color: var(--gray);
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-reverse{
    flex-direction: row-reverse;
}